# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
dl-env/
.env/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# PyTorch model checkpoints
*.pt
*.pth

# Log files
*.log